<div class="modal" id="start">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Загрузити</h2>
        </div>
        <div class="modal-body">
          <button type="button" id="show_upload_image" class="btn btn-success">Загрузити з вашого пристрою</button>
          <%= render 'panels/upload_image' %>
        </div>
      </div>
    </div>
</div>