<div class="content">
  <%= render 'menu/left' %>
  <%= render 'menu/top' %>
  <div id="hot">	
    <% if current_user %>
      <% @post = Post.new %>
      <div id="user_panels">
        <%= render 'panels/start' %>
      </div>
    <%end%>
    <div class="posts">Типу відображаємо пости</div>
  </div>
</div>