#menu_top {
  display: block;
  min-width: 924px;
  max-width: 1340px;
  height: 90px;
  background-color: #45c8dc;
  margin: auto;
  #marker{ 
    display:inline-block;
  }
  .categories {
    width:450px;
    height: 90px;
    float: right;
    background-color: #45c8dc;
    border-left: 1px solid #3cbbce;
  }
}

#menu_left {
  display: inline-block;
  position: fixed;
  z-index: 1100;
  width: 100px;
  height: 100%;
  background-color: #262a33;
  .item_block {
    .drafter_title {
      width: 100px;
      height: 90px;
      background-color: #3eb4c6;
    }
    a {
      display: block;
      height: 70px;
      line-height: 70px;
    }
    .item {
      height: 70px;
      margin-top: 1px;
      background-color: #1d2027; 
      .glyphicon {
        margin: 20px 0 0 35px;
      }
      .glyphicon:before {
        font-size:25px;
        color: #FFF;
      }
      .arrow-left {
        display: none;
        float:right;
        width: 0; 
        height: 0; 
        margin-top:25px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        border-right:10px solid #FFF; 
      }
    }
    .item:hover {
      cursor: pointer;
    }
  }
}